data/*.sqlite
data/*.sqlite-journal
__pycache__/
.DS_Store
data/*.jsonl
data/*.sqlite-wal
data/*.sqlite-shm
data/hyakka/
data/hyakka_img/
work/
data/hyakka_dentoshoku/
data/hyakka_chomiryo/
data/exports/*.jsonl
